#timeline {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 6s linear forwards;
}

g#timeline-legend>g>text {
    font-weight: 500;
}
@media only screen and (max-width: 800px) {
    .Chart__wrapper, .Chart__wrapper>svg {
        width:100%;
    }
    g#timeline-legend>g>text {
        position: relative;
        display: flex;
        text-anchor: end;
        top: -50px;
        transform: translate(-10px, -20px)
    }
    img#Architecture {
        width:100%;
    }
    img#ActionResearch {
        width:100%;
    }
}
@media only screen and (max-width: 700px) {
    g#timeline-legend>g {
        display: none;
    }
}

img#Architecture {
    max-width:80%;
    margin: auto;
}

figure {
    display: flex;
    flex-direction: column;
    vertical-align: bottom;
  }

figcaption {
    /* position: absolute; */
    /* display: flex; */
    right: 40px;
    font-size: 0.6em;
    font-weight: 200;
}

/* @keyframes draw {
to {
    stroke-dashoffset: 0;
}
} */