#jibe-model-diagram-container {
    height: 100%;
    position: relative;
}

path#jibe-outputs {
    stroke:#2caa4a;
    stroke-width: 2;
    stroke-miterlimit: 8;
    fill: #FFF;
    border-radius: 16px; 
    /* stroke-dasharray: 2600;
    stroke-dashoffset: 2600;
    animation: draw 7s linear forwards; */
}

/* path#jibe-arrow {
    animation: col 10s linear forwards;
} */

path#jibe-specific-outputs {
    stroke: #084F6A; 
    fill: none;
}

path#jibe-specific-outputs.active {
    stroke: #2caa4a; 
    fill: none;
}

path#jibe-demographics {
    fill: #c6f3b6;
}

text#jibe {
    fill: #084F6A; 
    font-family: Aptos,Aptos_MSFontService,sans-serif; 
    font-weight: 400; 
    font-size: 16;
}

text#jibe-bold {
    fill: #084F6A; 
    font-family: Aptos,Aptos_MSFontService,sans-serif; 
    font-weight: 700; 
    font-size: 16;
}

#tooltip-bg,
#tooltip-text {
    border-radius: 8px; /* Adjust the value as needed */
    visibility: hidden; /* Ensure the tooltip is hidden by default */
    /* Add other styling as needed */
}

#tooltip-text {
    padding: 8px; /* Adjust the value as needed */
    fill: #084F6A; 
}

#tooltip-bg {
    fill: #084F6A; 
    opacity: 0.8; /* Adjust the value as needed */
}



#svg-element-wrapper:hover > path {
    stroke:#dd3fc8;
}


#svg-element-wrapper:hover > #jibe {
    cursor: pointer;
}


/* #svg-element-wrapper:hover > #tooltip > #tooltip-text {
    visibility:visible;
} */