path#logo {
    fill: #2caa4a;
    stroke: #2caa4a;
    stroke-miterlimit: 10;
    stroke-width: 5.67px;   
}

path#logo-no-stroke {
    fill: #2caa4a;
    stroke-width: 0px;
}

path#logo-fancy {
    fill: none;
    stroke: #2caa4a;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 5.67px;
}

#TransportHealthImpacts {
    /* position: relative; */
    /* margin: auto; */
    width: 100%;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 2s linear forwards;
}

svg#ampersand {
    position: fixed;
    scale: 13;
    opacity: 0.1;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: draw 10s linear forwards;    
    transform: rotate3d(1, -1, 1, 90deg);
    pointer-events: none;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}