#widgets {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 1em;
}

#search-bar {
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    min-width: 20em;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
}

#download {
    /* position: relative;
    top: -72px;
    left: 10px; */
    width:29px;
    height:29px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
    color:#047d95;
    background-color: white;
    outline:none;
    cursor:pointer;
    position: absolute;
    right: 10px;
}

#download:hover {
cursor: pointer;
color: #16a34a;
}
