.data-grid-container {
    min-height: 400px;
    height: 90%; /* Or any desired height */
    width: 100%;
    max-width: 800px;
    min-width: 420px;
    align-self: center;
    justify-content: center;
    position: absolute;
    /* top: 0%; */
    left: 50%;
    translate: -50%;
    height: calc(84vh); /* calculate height of the screen minus the heading */
  }
/* 
MuiDataGrid-root .MuiDataGrid-cell--textLeft {
    text-wrap: wrap!;
    overflow: unset;
    line-height: unset;
}

#MuiDataGrid-row {
    height: 200px!;
} */