#lts {
    display: grid;
    border-radius: 25px;
    padding: 20px;
    margin: 2px;
    color: white;
    align-content: center;
    padding: 0;
    margin: 0;
    height: 100px;
    text-align: center;
    line-height: 0%;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    width: 95%;
    opacity: 0.6;
    font-family: Arial, Helvetica, sans-serif;
}

#indicator_summary {
    font-family: Arial, Helvetica, sans-serif;
}
