
#InfoDialog-Symbol {
    position: relative;
    font-size: 1.2em; 
    width: 1.2em;
    height: 1.2em;
    /* margin-left: 0.2em; */
    /* padding-left: 0.2em; */
    /* padding-top: 0.3em; */
    fill: #047d95;
    background-color: white;
    /* vertical-align: middle; */
    cursor: pointer;
}

#InfoDialog-Symbol:hover {
    background-color: white;
    fill: #2caa4a;
}

#story-info {
    display: flex;
}

#story-info > #InfoDialog-Symbol {
    float: right;
}


/* @media screen and (max-width: 800px) {
    InfoDialog-Dialog {
        max-width: 90%;
    }  
}  */