path#jibe-outputs {
    stroke:#2caa4a;
    stroke-width: 2;
    stroke-miterlimit: 8;
    fill: #FFF;
    /* stroke-dasharray: 2600;
    stroke-dashoffset: 2600;
    animation: draw 7s linear forwards; */
}

/* path#jibe-arrow {
    animation: col 10s linear forwards;
} */

path#jibe-specific-outputs {
    stroke: #084F6A; 
    fill: none;
}

path#jibe-specific-outputs.active {
    stroke: #2caa4a; 
    fill: none;
}

path#jibe-demographics {
    fill: #c6f3b6;
}

text#jibe {
    fill: #084F6A; 
    font-family: Aptos,Aptos_MSFontService,sans-serif; 
    font-weight: 400; 
    font-size: 16;
}

text#jibe-bold {
    fill: #084F6A; 
    font-family: Aptos,Aptos_MSFontService,sans-serif; 
    font-weight: 700; 
    font-size: 16;
}
