html {
  scroll-behavior: smooth;
}

#navbar {
  position: fixed;
  background: #FFF;
  z-index: 150;
  align-items: bottom;
}

.navFiller {
  /* display: ; */
  position: "absolute";
  height: 100px;
}

.heading {
    margin: 0;
    height: 100px;
    padding: 0px;
    background-color: #FFF;
    color: white;
    text-align: center;
  }
  
  .heading > h1 {
    padding: 20px;
    margin-left: 50px;
    text-align: left;
  }


  #navText {
    position: relative;
    top: -14px;
    left: 0px;
  }
  
  .logos {
    position: absolute;
    display: flex;
    height: 50px;
    top: 0px;
    left: 25px;
    margin-top: 10px;
    margin-left: -20px;
    padding: 5px;
    vertical-align: middle;
    z-index: 60;
  }


#navtabs.MuiTabs-root {
  background: #FFF;
  color: #000;
  min-height: 100px;
  z-index: 50;
} 

.MuiTabs-scroller {
  position: absolute!important;
  bottom: 0;
}
