html {
  scroll-behavior: smooth;
}

.heading {
    margin: 0;
    height: 100px;
    padding: 0px;
    background-color: #FFF;
    color: white;
    text-align: center;
  }
  
  .heading > h1 {
    padding: 20px;
    margin-left: 50px;
    text-align: left;
  }

  .logos {
    display: flex;
    height: 150px;
    margin-top: 0px;
    padding: 0px;
    /* vertical-align: middle; */
  }

  .tabs {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 50px;
    background-color: #333;
  }
  
  .amplify-tabs__panel {
    padding-block: 0px!important;
  }

  .amplify-flex {
    /* max-width: 1000px!important; */
    text-align: left!important;
}

.amplify-tabs__list {
 overflow: hidden;
 background: "#FFF";
}

/* Sticky navbar style */
.amplify-tabs__list.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFF;
  z-index: 100;
}

.amplify-tabs__list.sticky + .amplify-tabs__panel.amplify-tabs__panel--active {
  padding-top: 60px;
}

