.heading {
    margin: 0;
    height: 100px;
    padding: 0px;
    background-color: #FFF;
    color: white;
    text-align: center;
  }
  
  .heading > h1 {
    padding: 20px;
    margin-left: 50px;
    text-align: left;
  }

  .logo {
    display: block;
    height: 90px;
    margin-top: 10px;
    /* vertical-align: middle; */
  }

  .tabs {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 50px;
    background-color: #333;
  }
  
  .amplify-tabs__panel {
    padding-block: 0px!important;
  }

  .amplify-flex {
    /* max-width: 1000px!important; */
    text-align: left!important;
}