.heading-link-icon {
    display: inline-block;
    margin-left: .5rem;
    width: 28px;
    height: 32px;
    opacity: 0.4;
}

.amplify-heading--1 {
	scroll-margin-top: 60px;
}

.amplify-heading--1:hover {
	text-decoration: underline;
	text-decoration-thickness: 2px;
}
