html {
  width: 100%;
  height: 100%;
  position: relative;
  }

body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.sign-out {
  position: fixed;
  top: 6px;
  right: 10px;
  margin: 0px;
  padding: 0px;
  width: 30px;
  background-color: white;
  color: #2caa4a;
  border: none;
  cursor: pointer;
  z-index: 200;
}

.amplify-text {
  margin: 10px!important;
  text-align: left;
}

.amplify-heading {
  margin: 10px!important;
  text-align: left;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.fullscreen-75 {
  width: 85vw;
  height: 75vh;
}

@media (max-width: 600px) {
  .fullscreen-75 {
    width: 200vw;
    height: 90vh;
  }
}


.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}
.error {
  color: red;
}

.responsive-select {
  width: 100%;
  max-width: 100%;
  white-space: normal;
  word-wrap: break-word;
}

@media (max-width: 600px) {
  .responsive-select {
    font-size: 14px; /* Adjust font size for better readability on small screens */
  }
}

.responsive-chart {
  position: relative;
}

@media (max-width: 600px) {
  .responsive-chart .recharts-legend-wrapper {
    bottom: -50px !important; /* Adjust the bottom position of the legend */
  }

  .responsive-chart .recharts-wrapper {
    margin-bottom: 90px; /* Increase the bottom margin to accommodate the legend */
  }
}
.responsive-typography {
  display: flex!important;
  font-size: 0.8em!important;
}

.simple_table {
  /* position: relative;
  top: -75px; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0.5em 0.5em 1.5em 0.5em;
  height: auto;
  /* position: absolute;
  top: 120px; */
}
.simple_table > thead > tr > th {
  text-align: left;
  min-width: 50px;
}